{% extends 'base.html' %}

{% block title %} Cities {% endblock %}

{% block content %}
<div style="padding-left: 20px; padding-top: 10px">
    <h5>Cities of {{ country.name }}:</h5>
    <div style="padding-bottom: 15px">
        <a class="btn btn-primary" style="color: white" href="{% url 'create_city' %}">Add+</a>
    </div>
    <ul>
        {% for city in country.city_set.all %}
        <li><a href="{% url 'city' id=city.id%}">{{city.name}}</a></li>
        {% endfor %}
    </ul>
</div>
    {% endblock %}
