{% extends 'base.html' %}

{% block title %} Cities {% endblock %}

{% block content %}
<div style="padding-left: 20px; padding-top: 10px">
    <h5>Info about {{city.name}}:</h5>
    <table border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <tr>
            <th>Country</th>
            <th>Name</th>
            <th>Longitude</th>
            <th>Latitude</th>
        </tr>
        <tr>
            <td><a href="http://127.0.0.1:8000/country={{city.country}}">{{city.country}}</a></td>
            <td>{{city.name}}</td>
            <td align="center">{{city.longitude}}</td>
            <td align="center">{{city.latitude}}
            <td style="width: 50px"><a class="btn badge-danger" style="color: white" href="http://127.0.0.1:8000/delete={{city.name}}">Delete</a></td>
        </tr>
    </table>
</div>
{% endblock %}
