{% extends 'base.html' %}

{% block title %} Cities {% endblock %}

{% block content %}
<div style="padding-left: 20px; padding-top: 10px">
    <h5>Info about {{city.name}}:</h5>
    <table border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <tr>
            <th>Country</th>
            <th>Name</th>
            <th>Longitude</th>
            <th>Latitude</th>
        </tr>
        <tr>
            <td><a href="{% url 'cities_list' id=city.country.id %}">{{city.country}}</a></td>
            <td>{{city.name}}</td>
            <td align="center">{{city.longitude}}</td>
            <td align="center">{{city.latitude}}</td>
            <td style="width: 50px"><a class="btn btn-primary" style="color: white"
                                       href="{% url 'edit_city' id=city.id %}">Edit</a></td>
            <td style="width: 50px"><a class="btn badge-danger" style="color: white"
                                       href="{% url 'delete_city' id=city.id %}">Delete</a></td>
        </tr>
    </table>
</div>
{% endblock %}
